<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>【Edible】アカウント削除のご連絡</h1>
  <p><%= @user.name %>様</p>
  <p>Edibleのアカウントが正常に削除されました。</p>
  <p>ご利用いただき、誠にありがとうございました。</p>
  <p>今後ともEdibleをよろしくお願いいたします。</p>
</body>
</html>
