<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p><%= @user.name %>様</p>
  <br>
  <p>Edibleをご利用いただきありがとうございます。</p>
  <br>
  <p>下記のリンクをクリックして、アカウントを有効化してください。</p>
  <p>アカウント登録を行なっていない場合は、このメールを無視してください。</p>
  <p>＊このURLの有効期限は24時間です。</p>
  <br>
  <%= link_to "アカウントを有効化する", confirm_email_api_v1_users_url(token: @user.confirmation_token) %>
</body>
</html>