<p><%= @user.name %>様</p>

<p>Edibleをご利用いただきありがとうございます。</p>
<p>下記のリンクをクリックして、Edibleに再度ログインしてください。</p>
<p>メールアドレスの変更を行なっていない場合は、このメールを無視してください。</p>
<p>＊このURLの有効期限は24時間です。</p>

<%= link_to 'メールアドレスを変更する', confirm_email_reset_api_v1_users_url(token: @token, email: @email) %>
