<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p><%= @user.name %>様</p>
  <br>
  <p>Edibleをご利用いただきありがとうございます。</p>
  <br>
  <p>パスワードが変更されました。</p>
</body>
</html>
